<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.birdsoffeather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BirdsOfFeather">
        <activity
            android:name=".ClassDetialsActivity"
            android:exported="false" />
        <activity
            android:name=".ClassListActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyDFUQcSTphq_Cq0BitQW4zLx12twjva3SY" />


        <activity
            android:name=".studentInfo"
            android:exported="false" />
        <activity
            android:name=".searchingActivity"
            android:exported="false" />
        <activity
            android:name=".profileActivity"
            android:exported="false" />
        <activity
            android:name=".AddClassActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".MockCSVActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>